table {
    margin-left: 251px;
    margin-top: 150px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  
  table th, tfoot td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #525b6e;
    color: white;
  }
  .abutton {
    margin-top: 300px;
    margin-left: 600px;
    border: none;
    font-weight: bold;
    width: 22rem;
    background-image: linear-gradient(90deg, #525b6e,rgb(16, 4, 36),#525b6e );
    border-radius: 2rem;
    height: 2.5rem;
    color: whitesmoke;
  }
  
  .abutton:hover {
    transition: ease-in 0.5s;
    border: 4px solid rgb(16, 4, 36);
  }


  /* *{
    margin: 0%;
    padding: 0%;
  }
  
  #pendingtable{
  color: #13253a;
    background-color: #04d2af; 
    position: absolute;
    top:2%; left:15.5%;
    border-radius: 10px;
    height:96%;
    width:84%;
  }
  #pdtable{
    border-radius: 10px;
    position: absolute;
    top:15%;
    margin-left: 10%;
    margin-top: 0;
    outline: none;
  }
  #pdtablehead{
    background-color: #13253a;
    background: none;
  }
  #pdtablerow{
    border-radius: 10px;
    height: 10%;
    background-color: white;
  }
  #dbtn{
    position: absolute;
    top:50%;
    left:42%;
    background-color: #13253a;
    color: #04d2af;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #04d2af;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
  }
  #dbtn:hover{
    background-color: #04d2af;
    color: #13253a;
    border: 2px solid #13253a;
  }
  
  @media screen and (max-width: 1200px) { 
  
  #pendingtable{
       
        top:1%; left:31%;
        border-radius: 10px;
        height:96%;
        width:70%;
    }
  #pdtable{
    margin-left: 2%;
  }
  #pdtablehead{
    font-size: 14px;
  }
  
  } */