.pendingstatus {
    margin-left: 90px;
    margin-top: 150px;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
  } 
  
  .pendingstatus td,
  .pendingstatus th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  .pendingstatus tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .pendingstatus tr:hover {
    background-color: #ddd;
  }
  
  .pendingstatus th, tfoot td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #525b6e;
    color: white;
  }