
*{
    margin: 0%;
    padding: 0%;
}
 
.courselist{
	color: #13253a;
    background-color: #04d2af; 
    position: absolute;
    top:2%; left:15.5%;
    border-radius: 10px;
    height:96%;
    width:84%;
}
.cltable{
    border-radius: 10px;
    position: absolute;
    top:15%;
    margin-left: 10%;
    margin-top: 0;
    outline: none;
}
#cltablehead{
    background-color: #13253a;
    background: none;
}
#cltablerow{
    border-radius: 10px;
    height: 10%;
    background-color: rgb(255, 255, 255);
}
#btn{
    background-color: #98a9bd;
    color: #080808;
    padding: 3px 10px;
    border-radius: 10px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
}
/* #btn:hover{
    background-color: #1204d2;
    color: #dce4ec;
    border: 2px solid #13253a;
} */

@media screen and (max-width: 1200px) { 

	.courselist{
       
        top:1%; left:31%;
        border-radius: 10px;
        height:96%;
        width:69%;
    }

}